@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Fuggles&family=Roboto+Mono:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    scroll-behavior: smooth;
    /* background-color: rgb(119, 119, 119); */
}

#Wrapper
{
    height: 100vh;
    overflow-x: hidden;
    overflow-y:scroll;
}

.Container
{
    /* max-width: 1200px; */
    margin: 0 auto;
}

.Nav_Bar
{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    align-items: center;
}

.Logo_Name
{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;

}
#Logo
{
    width: 5rem;
    margin: 0 -1.2rem 0 0;
}

.Bookmarks
{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.Bookmarks a
{
    text-decoration: none;
    font-size: 1.1rem;
    padding: 1rem 1.54rem;
    cursor: pointer;
    color: black;

}

.Bookmarks div:hover
{
    transition: 0.8s ease;
    font-weight: 600;
    text-shadow: 0 0 30px rgb(77, 51, 51);
}

.Hero
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 5rem;
    padding-bottom: 8rem;
}

.Faded_Text
{
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgba(176, 176, 176, 0.361);

    bottom: -17.8%;
    left: 2%;
    font-weight: bold;
}

.Hero_Left
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Hero_Left_Heading
{
    font-size: 2rem;
}
.Hero_Left_Subheading
{
    font-size: 2.5rem;
}

.Role
{
    font-size: 2.5rem;
    color: rgb(128, 101, 248);
    font-weight: bold;
}

.Hero_Left_Desc
{
    width: 80%;
    font-size: 1.3rem;
}

.HM_Button
{
    position: relative;
    background-color: rgb(253, 93, 93);
    width: fit-content;
    font-size: 1.3rem;
    padding: 1rem 3rem;
    box-shadow: 5px 5px 9px black;
    cursor: pointer;
    z-index: 1;
    color: white;
}

.HM_Button::before
{
    position: absolute;
    content: "";
    background-color: rgba(217, 27, 255, 0.884);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    object-fit: fill;
    z-index: -1;
    transition: 0.5s ease;
}

.HM_Button:hover::before
{
    transform: scale(1);
}

.Hero_Right
{
    position: relative;

}

.Absolute
{
    position: absolute;
    z-index: 1;
}

.User_Img
{
    padding: 1.5rem;
    filter: saturate(0%);
    animation: Shubham 4s alternate ease infinite;
    z-index: -1;
}

.User_Img img
{
    width: 18rem;
}

@keyframes Shubham {
    0%
    {
        filter: saturate(0%);
        scale: 1;
        box-shadow: 0px 0px 5px black;
    }
    50%
    {
        filter: saturate(100%);
        box-shadow: 0 0 black;
        scale: 1.1;
    }
    100%
    {
        filter: saturate(0%);
        box-shadow: 0px 0px 5px black;
        scale: 1;
    }
}

.Circle_Img
{
    bottom: 0;
    left: 0;
    animation: Up_Down_Right_Left 1.5s alternate infinite;
}

.Zig_Zag_Img
{
    right: 0;
    animation: Up_Down_Right_Left 1.5s alternate infinite;
}

.Plus_Img
{
    margin-top: -2rem;
    left: 0;
    top: 50%;
    animation: Up_Down_Right_Left 1.5s alternate infinite;
}

.Dot_Img
{
    bottom: 0;
    right: 0;
    margin-right: -2rem;
    animation: Up_Down 2s alternate infinite ;
}

@keyframes Up_Down_Right_Left {
    from
    {
        transform: translate(0, 0);
    }
    to
    {
        transform: translate(-1rem, 1rem);
    }
}

@keyframes Up_Down {
    from
    {
        transform: translateY(0rem);
    }
    to
    {
        transform: translateY(3rem);
    }
}

.Cube_Img
{
    animation: Rotate_Up_Down 2s ease-in-out alternate infinite;
}

@keyframes Rotate_Up_Down
{
    from
    {
        transform: translate(0rem, 0rem) rotateY(0deg);
    }
    to
    {
        transform: translate(0rem, 3rem) rotateY(360deg);
    }
}

.Project_Section
{
    background-color: #E2E2E2;
    padding: 0 5rem;
}

.Project_Heading
{
    padding: 1rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    color: tomato;
}

.Project_Container
{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 0;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Project_Card
{
    position: relative;
    width: 78%;
    height: 480px;
    background-size: contain;
    box-shadow: 0 0 40px black;
    margin: 2rem;
    
}

.Project_Card::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 0;
}

.Project_Card::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    background: linear-gradient(45deg, rgba(72, 88, 143, 0.952), rgba(52, 68, 120, 0.242), rgba(41, 54, 93, 0.105));
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.2s ;
}

.Project_Card:hover::before
{
    transform: scaleX(1);
}


.Project_Number
{
    position: absolute;
    font-size: 10rem;
    color: white;
    text-shadow: 0 0 1rem;
    z-index: 5;
    opacity: 0;
}

.Project_Number_Left
{
    left: -4rem;
    top: -2rem;
}
.Project_Number_Right
{
    right: -5rem;
    top: -2rem; 
}
.Project_Card:hover .Project_Number
{
    opacity: 1;
}

.Project_Content_Left
{
    left: 10%;
}

.Project_Content
{
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 2;
    color: white;
    bottom: 15%;
    /* width: 70%; */
    transition: 0.2s;
}
.Project_Content_Right
{
    left: 50%;
    width: 50%;
}

.Project_Skill_Container
{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 0.3rem;
    margin: 1rem 0;
}

.Project_Skill_Icon
{
    width: 2.5rem;
    filter: contrast(120%) saturate(120%) brightness(150%);
    object-fit: contain;
}

.Project_Card_Heading
{
    font-size: 3.4rem;
    margin: 1rem 0;
    font-weight: 400;
}

.Project_Card_Sub_Heading
{
    font-style: italic;
    width: 55%;
}

.Project_Button
{
    display: flex;
    margin: 1rem 1rem 1rem 0;
    gap: 1rem;
    align-items: center;
}

.Project_Card:hover .Project_Content
{
    transform: scale(1.1);
}
    
#Project1
{
    background-image: url(images/projects/Project1.png);
    left: 5%;
}
#Project2
{
    background-image: url(images/projects/Project2.png);
    left: 17%;
}
#Project3
{
    background-image: url(images/projects/Project3.png);
    left: 6%;
}
#Project4
{
    background-image: url(images/projects/Project4.png);
    left: 17%;
}

.Skill_Faded_Text
{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 7em;
    color: rgba(176, 176, 176, 0.361);
    user-select: none;
    bottom: -25%;
    right: -2%;
}
.Skill_Section
{
    position: relative;
    display: flex;
    margin: 15rem 3rem 2rem 3rem ;
    gap: 5rem;
}

.Skill_Heading
{
    font-size: 3rem;
    color: red;
    font-weight: 400;
}

#Caps
{
    font-size: 5rem;
}


.Skill_Section_Left
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    padding: 2rem;
}


.Skill_Section_Right
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.Floating_Icon
{
    position: absolute;
    z-index: -1;
    transform: translate(-2rem, -3rem);
    width: 50%;
    animation: Blob_Up_Down 2s alternate infinite ease-in-out;
}

@keyframes Blob_Up_Down 
{
    from
    {
        transform: translate(-2rem, -3rem);
    }
    to{
        transform: translate(3rem, 3rem);
    }
}

.Skill_Section_Icons
{
    width: 4rem;
    margin: 1rem;
    z-index: 1;
    cursor: pointer;
    transition: 0.2s ease;
}

.Skill_Section_Icons:hover
{
    transform: scale(1.3);
}

.Contact_Us
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #E2E2E2;
    margin-top: 4.9rem;
    align-items: center;
}

.Form_Heading
{
    display: flex;
    position: relative;
    margin: 3rem auto;
    flex-direction: column;

}

.Contact_Heading
{
    position: relative;
    width: fit-content;
    color: red;
    font-size: 3.5rem;
    font-weight: 400;
}

.Contact_Sub_Heading
{
    margin-top: 2rem;
    font-size: 2rem;
    color: rgb(124, 124, 124);
}

.Form_Section
{
    display: flex;
    position: relative;
    flex-direction: column;
    left: 12%;
    gap: 2rem;
    margin-bottom: 10rem;
}

.Main_Form
{
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.Form_Field
{
    border: none;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px black;
    border-radius: 0.5rem;
    padding: 1rem;
}

.Contact_Button:hover
{
    transform: scale(0.9);
    transition: all 0.3s;
}