@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Fuggles&family=Roboto+Mono:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif  ;
    
}

#Wrapper
{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.Container
{
    width: 1200px;
    margin: 0 auto;
}

.Nav_Bar
{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    align-items: center;
}

.Logo_Name
{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;

}
#Logo
{
    width: 5rem;
    margin: 0 -1.2rem 0 0;
}

.Bookmarks
{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.Bookmarks a
{
    text-decoration: none;
    font-size: 1.1rem;
    padding: 1rem 1.54rem;
    cursor: pointer;
    color: black;

}

.Bookmarks div:hover
{
    transition: 0.8s ease;
    font-weight: 600;
    text-shadow: 0 0 30px rgb(77, 51, 51);
}

.Hero
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.Faded_Text
{
    user-select: none;
    font-size: 7em;
    color: rgb(116, 116, 116);

    bottom: 16%;
    left: -5%;
    font-weight: bold;
    transition: all 10s;
}

.Hero_Left
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Hero_Left_Heading
{
    font-size: 2rem;
}
.Hero_Left_Subheading
{
    font-size: 2.5rem;
}

.Role
{
    font-size: 2.5rem;
    color: rgb(128, 101, 248);
    font-weight: bold;
}

.Hero_Left_Desc
{
    width: 80%;
    font-size: 1.3rem;
}

.HM_Button
{
    position: relative;
    background-color: rgb(253, 93, 93);
    width: fit-content;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    box-shadow: 5px 5px 9px black;
    cursor: pointer;
    z-index: 1;
    color: white;
}

.HM_Button::before
{
    position: absolute;
    content: "";
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    object-fit: fill;
    z-index: -1;
    transition: 0.8s ease;
}

.HM_Button:hover::before
{
    transform: scale(1);
}

.Hero_Right
{
    position: relative;

}

.Absolute
{
    position: absolute;
    z-index: 1;
}

.User_Img
{
    padding: 1.5rem;
    filter: saturate(0%);
    animation: Shubham 4s alternate ease infinite;
    z-index: -1;
}

.User_Img img
{
    width: 18rem;
}

@keyframes Shubham {
    0%
    {
        filter: saturate(0%);
        scale: 1;
        box-shadow: 0px 0px 5px black;
    }
    50%
    {
        filter: saturate(100%);
        box-shadow: 0 0 black;
        scale: 1.1;
    }
    100%
    {
        filter: saturate(0%);
        box-shadow: 0px 0px 5px black;
        scale: 1;
    }
}

.Circle_Img
{
    bottom: 0;
    left: 0;
    animation: Up_Down_Right_Left 1.5s alternate infinite;
}

.Zig_Zag_Img
{
    animation: Up_Down_Right_Left 1.5s alternate infinite;
}

@keyframes Up_Down_Right_Left {
    from
    {
        transform: translate(0, 0);
    }
    to
    {
        transform: translate(-1rem, 1rem);
    }
}
