*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#Wrapper
{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 20px;
}

.Container
{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.Background, .Foreground
{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.Background
{
    transform: translate3d(0px, 0px, -48px);
    scale: 5;
}

.Foreground
{
    transform: translate3d(0px, 0px, -34px);
    scale: 3;
}

#Heading
{
    position: absolute;
    transform: translate3d(0px, 0px, -10px);
    scale: 1;
    top: 145px;
    font-size: 121px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px;
    letter-spacing: 9px;
    
}
