@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto+Mono:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fuggles", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body
{
    background-color: antiquewhite;  
}

#Wrapper
{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: 50%;
}

.Image img
{
    display: flex;
    width: 240px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    
}
.Info
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow:hidden;
    margin: 20px 20px;
}

h2
{
    font-size: 100%;
    width: 80%;
    letter-spacing: 10px;
    color: rgb(109, 109, 109);  
}

.Desc
{
    font-size: 15px;
    margin: 5px 0;
}

#Price
{
    color: green;
    font-size: 25px;
    font-weight: bolder;
}
#Price s
{
    font-size: 15px;
    color: rgb(109, 109, 109);
}

#Add_To_Cart
{
    display: flex;
    background-color: rgba(55, 148, 68, 0.884);
    color: white;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#Add_To_Cart:hover
{
    background-color: green;
    filter: saturate(100%);
    transition: 0.2s ease-in-out;
}
